html, body{
    margin:0;
    padding:0;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    background-color: #333; /* Dark grey background */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for spacing (top and bottom 10px, left and right 20px) */
    line-height: .5; /* Adjust line height for smaller spacing between lines */
    width: 100%;
    min-width: 0;
}

body {
    background-color: #f7f7f7;
}

.tabs {
    margin-bottom: 5px;
    padding-left: 50px;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f7f7f7;
    border: none; /* Remove all borders */
    border-bottom: 4px solid rgb(169, 0, 0); /* Add a thick red bottom border */
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}
.tab.active {
    background-color: #f1f1f1;
    border: 1px solid rgb(223, 1, 1);
    border-bottom: 4px solid rgb(223, 1, 1);
    
}

.tab-content {
    display: none;
    padding: 20px;
    padding-bottom:0px;
    
    border-color: #000;
    border-width: 1px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background: #fff9f9;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.tab-content.active {
    display: block;
    height:96vh;
    border: #ccc solid 1px;
    border-radius: 30px;
}

.plotCurvesButton {
    font-weight: bold;
    font-size: 16px; /* Adjust size as needed */
    border-radius: 10px; /* Adjust border radius for curved edges */
    background-color: black;
    color: white;
    padding: 10px 20px; /* Adjust padding for button size */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.plotCurvesButton:hover {
    background-color: darkred;
}

.plotCurvesButton:active {
    background-color: #7b0000; /* Adjust to the desired shade */
}
input {
    width: calc(100% - 8px); /* Subtracting 8px to account for border width */
}
.graphMetadata {
    margin-bottom: 20px;
    width:100%;
}
#title{
    width:200px;
}
.graphMetadata input {
    width: 100px; /* Adjust width as needed */
    margin-bottom: 10px;
}
.title{
    align-items: center;
    width: 500px;
}
.title label {
    margin-right: 10px; /* Adjust as needed */
}
.xRange, .yRange {
    margin-bottom: 2px;
}
.xRange label, .yRange label {
    margin-right: 5px;
}
.color-picker{
    width: 100%;
    background-color: #f0f0f0;
}

#tabContent{
    height: 80vh;
}
#iframe {
    width: 100%;
}

#dataPointInputFields, #meanNstdInputFields, #copyPasteInputFields {
    border: 1px solid #aaa; /* Light gray border */
    border-radius: 10px;
    padding:10px;
    background: #ffffff;
}


#dataPointInputFields th, #dataPointInputFields td,#meanNstdInputFields th, #meanNstdInputFields td, #copyPasteInputFields th, #copyPasteInputFields td {
    border: 1px solid #aaa; /* Light gray border for table cells */
    padding:5px;
    background: #f3f3f3;
}

.header {
    background: #c7c7c7 !important;
}

.curveId {
    text-align: center;
}



#dataPointInputFields th,
#dataPointInputFields td:not(.addColumn, .side-column)
{
    width: 70px;
}
.addButton, .removeColumnButton {
    display: inline-flex; /* Use flexbox for alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: left;
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size:large;
    text-decoration: none;
    background-color: #000;
    transition: background-color 0.3s ease, border-width 0.3s ease, border-color 0.3s ease;
}

.addButton:hover, .removeColumnButton:hover {
    border-color: black;
    border-width: 3px;
    background-color:black

}
.addButton:active, .removeColumnButton:active {
    border-color: rgb(110, 0, 0);
    border-width: 3px;
    background-color:rgb(110, 0, 0);
    
}
.addColumn{
    width: 20px;
    background:none !important;
    border: none !important;
    text-align: center;
}

#addRow{
    margin-top: 10px;
}
#label{
    width:50px;
}
#data{
    width:50px;
}
.curve-id-column{
    text-align: center;
    width: 30px;
}

#copyPasteData{
    height:20px;
    width:50px;
}
.removeRowCell{
    text-align: center;
    height:30px;
    width: 30px;
}

.removeColumn{
    height: 35px;
    width: 20px;
    background:none !important;
    border: none !important;
    text-align: center;
}

